﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:150px;
    top:153px;
    width:150px;
    height:21px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_normal {
    background-image: url('../Thank_you_files/u1_normal.png');
}

.u1_container {
    position:absolute;
    left:48px;
    top:184px;
    width:355px;
    height:104px;
}

#u1_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:361px;
    height:110px;
}

.u2 {
    position:absolute;
    left:2px;
    top:20px;
    width:351px;
    height:64px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_line {
    background-image: url('../Thank_you_files/u3_line.png');
}

.u3_line {
    position:absolute;
    left:0px;
    top:3px;
    width:419px;
    height:5px;
}

.u3 {
    position:absolute;
    left:16px;
    top:115px;
    width:419px;
    height:10px;
    
}

.u4_line {
    background-image: url('../Thank_you_files/u4_line.png');
}

.u4_line {
    position:absolute;
    left:0px;
    top:3px;
    width:144px;
    height:5px;
}

.u4 {
    position:absolute;
    left:154px;
    top:265px;
    width:144px;
    height:10px;
    
}

.u5 {
    position:absolute;
    left:110px;
    top:23px;
    width:231px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Thank_you_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:16px;
    top:59px;
    width:206px;
    height:27px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u8 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Thank_you_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:222px;
    top:59px;
    width:206px;
    height:27px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:17px;
    top:100px;
    width:266px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

