﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Menu_comments_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:55px;
    top:166px;
    width:266px;
    height:62px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u1 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:67px;
    top:204px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:68px;
    top:175px;
    width:20px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:95px;
    top:175px;
    width:20px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u7_container {
    position:absolute;
    left:122px;
    top:175px;
    width:20px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:149px;
    top:175px;
    width:20px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u11_container {
    position:absolute;
    left:176px;
    top:175px;
    width:20px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Menu_comments_files/u0_normal.png');
}

.u13_container {
    position:absolute;
    left:55px;
    top:238px;
    width:266px;
    height:62px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u14 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:67px;
    top:276px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u16_container {
    position:absolute;
    left:68px;
    top:247px;
    width:20px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u18_container {
    position:absolute;
    left:95px;
    top:247px;
    width:20px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u20_container {
    position:absolute;
    left:122px;
    top:247px;
    width:20px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Menu_comments_files/u0_normal.png');
}

.u22_container {
    position:absolute;
    left:55px;
    top:310px;
    width:266px;
    height:62px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u23 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:67px;
    top:348px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u25_container {
    position:absolute;
    left:68px;
    top:319px;
    width:20px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u27_container {
    position:absolute;
    left:95px;
    top:319px;
    width:20px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u29_container {
    position:absolute;
    left:122px;
    top:319px;
    width:20px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u31_container {
    position:absolute;
    left:149px;
    top:319px;
    width:20px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Menu_comments_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:55px;
    top:391px;
    width:116px;
    height:25px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u34 {
    position:absolute;
    left:2px;
    top:5px;
    width:112px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Menu_comments_files/u33_normal.png');
}

.u35_container {
    position:absolute;
    left:205px;
    top:391px;
    width:116px;
    height:25px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u36 {
    position:absolute;
    left:2px;
    top:5px;
    width:112px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_line {
    background-image: url('../Menu_comments_files/u37_line.png');
}

.u37_line {
    position:absolute;
    left:0px;
    top:3px;
    width:419px;
    height:5px;
}

.u37 {
    position:absolute;
    left:16px;
    top:115px;
    width:419px;
    height:10px;
    
}

.u38_normal {
    background-image: url('../Menu_comments_files/u38_normal.png');
}

.u38_container {
    position:absolute;
    left:16px;
    top:59px;
    width:206px;
    height:27px;
}

#u38_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u39 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Menu_comments_files/u40_normal.png');
}

.u40_container {
    position:absolute;
    left:222px;
    top:59px;
    width:206px;
    height:27px;
}

#u40_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u41 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:55px;
    top:138px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:55px;
    top:459px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:55px;
    top:490px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:55px;
    top:521px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:55px;
    top:552px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u48_container {
    position:absolute;
    left:193px;
    top:136px;
    width:20px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u50_container {
    position:absolute;
    left:220px;
    top:136px;
    width:20px;
    height:20px;
}

#u50_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u51 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u52_container {
    position:absolute;
    left:247px;
    top:136px;
    width:20px;
    height:20px;
}

#u52_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u53 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u54_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u54_container {
    position:absolute;
    left:274px;
    top:136px;
    width:20px;
    height:20px;
}

#u54_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u55 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u56_container {
    position:absolute;
    left:301px;
    top:136px;
    width:20px;
    height:20px;
}

#u56_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u57 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Menu_comments_files/u58_normal.png');
}

.u58_container {
    position:absolute;
    left:16px;
    top:135px;
    width:27px;
    height:22px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u59 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u60_container {
    position:absolute;
    left:193px;
    top:457px;
    width:20px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u62_container {
    position:absolute;
    left:220px;
    top:457px;
    width:20px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Menu_comments_files/u58_normal.png');
}

.u64_container {
    position:absolute;
    left:16px;
    top:456px;
    width:27px;
    height:22px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u65 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Menu_comments_files/u58_normal.png');
}

.u66_container {
    position:absolute;
    left:16px;
    top:487px;
    width:27px;
    height:22px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u67 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Menu_comments_files/u58_normal.png');
}

.u68_container {
    position:absolute;
    left:16px;
    top:518px;
    width:27px;
    height:22px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u69 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Menu_comments_files/u58_normal.png');
}

.u70_container {
    position:absolute;
    left:16px;
    top:549px;
    width:27px;
    height:22px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u71 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u72_container {
    position:absolute;
    left:193px;
    top:488px;
    width:20px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u74_container {
    position:absolute;
    left:220px;
    top:488px;
    width:20px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u76_container {
    position:absolute;
    left:247px;
    top:488px;
    width:20px;
    height:20px;
}

#u76_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u78_container {
    position:absolute;
    left:274px;
    top:488px;
    width:20px;
    height:20px;
}

#u78_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u80_container {
    position:absolute;
    left:193px;
    top:519px;
    width:20px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u82_container {
    position:absolute;
    left:220px;
    top:519px;
    width:20px;
    height:20px;
}

#u82_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u84_container {
    position:absolute;
    left:247px;
    top:519px;
    width:20px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u86_container {
    position:absolute;
    left:193px;
    top:550px;
    width:20px;
    height:20px;
}

#u86_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../Menu_comments_files/u3_normal.png');
}

.u88_container {
    position:absolute;
    left:220px;
    top:550px;
    width:20px;
    height:20px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../Menu_comments_files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:260px;
    top:488px;
    width:68px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:26px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../Menu_comments_files/u92_normal.png');
}

.u92_container {
    position:absolute;
    left:316px;
    top:137px;
    width:141px;
    height:20px;
}

#u92_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u93 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../Menu_comments_files/u92_normal.png');
}

.u94_container {
    position:absolute;
    left:316px;
    top:458px;
    width:141px;
    height:20px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u95 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../Menu_comments_files/u92_normal.png');
}

.u96_container {
    position:absolute;
    left:316px;
    top:488px;
    width:141px;
    height:20px;
}

#u96_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u97 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../Menu_comments_files/u92_normal.png');
}

.u98_container {
    position:absolute;
    left:316px;
    top:519px;
    width:141px;
    height:20px;
}

#u98_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u99 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100_normal {
    background-image: url('../Menu_comments_files/u92_normal.png');
}

.u100_container {
    position:absolute;
    left:316px;
    top:550px;
    width:141px;
    height:20px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u101 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:110px;
    top:23px;
    width:231px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:17px;
    top:100px;
    width:200px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

