﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1 {
    position:absolute;
    left:16px;
    top:0px;
    width:157px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_image_sketch {
    background-image: url('../Ate_Elsewhere_files/u2_image_sketch.png');
    position:absolute;
    left:44px;
    top:154px;
    width:310px;
    height:31px;
}

.u2 {
    position:absolute;
    left:47px;
    top:157px;
    width:304px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u3_image_sketch {
    background-image: url('../Ate_Elsewhere_files/u3_image_sketch.png');
    position:absolute;
    left:44px;
    top:185px;
    width:310px;
    height:31px;
}

.u3 {
    position:absolute;
    left:47px;
    top:188px;
    width:304px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u4_normal {
    background-image: url('../Ate_Elsewhere_files/u4_normal.png');
}

.u4_container {
    position:absolute;
    left:251px;
    top:223px;
    width:100px;
    height:25px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u5 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_line {
    background-image: url('../Ate_Elsewhere_files/u6_line.png');
}

.u6_line {
    position:absolute;
    left:0px;
    top:3px;
    width:419px;
    height:5px;
}

.u6 {
    position:absolute;
    left:16px;
    top:115px;
    width:419px;
    height:10px;
    
}

.u7 {
    position:absolute;
    left:110px;
    top:23px;
    width:231px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Ate_Elsewhere_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:16px;
    top:59px;
    width:206px;
    height:27px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u10 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Ate_Elsewhere_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:222px;
    top:59px;
    width:206px;
    height:27px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u12 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:17px;
    top:100px;
    width:266px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

