﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:17px;
    top:100px;
    width:200px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u1_line {
    background-image: url('../Yesterday_s_Results_files/u1_line.png');
}

.u1_line {
    position:absolute;
    left:0px;
    top:3px;
    width:419px;
    height:5px;
}

.u1 {
    position:absolute;
    left:16px;
    top:115px;
    width:419px;
    height:10px;
    
}

.u2 {
    position:absolute;
    left:55px;
    top:138px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:55px;
    top:169px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:55px;
    top:200px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:55px;
    top:231px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:55px;
    top:262px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:193px;
    top:136px;
    width:20px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u9_container {
    position:absolute;
    left:220px;
    top:136px;
    width:20px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u11_container {
    position:absolute;
    left:247px;
    top:136px;
    width:20px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u13_container {
    position:absolute;
    left:274px;
    top:136px;
    width:20px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u15_container {
    position:absolute;
    left:301px;
    top:136px;
    width:20px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Yesterday_s_Results_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:16px;
    top:135px;
    width:27px;
    height:22px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u18 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u19_container {
    position:absolute;
    left:193px;
    top:167px;
    width:20px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u21_container {
    position:absolute;
    left:220px;
    top:167px;
    width:20px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../Yesterday_s_Results_files/u17_normal.png');
}

.u23_container {
    position:absolute;
    left:16px;
    top:166px;
    width:27px;
    height:22px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u24 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Yesterday_s_Results_files/u17_normal.png');
}

.u25_container {
    position:absolute;
    left:16px;
    top:197px;
    width:27px;
    height:22px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u26 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Yesterday_s_Results_files/u17_normal.png');
}

.u27_container {
    position:absolute;
    left:16px;
    top:228px;
    width:27px;
    height:22px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u28 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Yesterday_s_Results_files/u17_normal.png');
}

.u29_container {
    position:absolute;
    left:16px;
    top:259px;
    width:27px;
    height:22px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u30 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u31_container {
    position:absolute;
    left:193px;
    top:198px;
    width:20px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u33_container {
    position:absolute;
    left:220px;
    top:198px;
    width:20px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u35_container {
    position:absolute;
    left:247px;
    top:198px;
    width:20px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u37_container {
    position:absolute;
    left:274px;
    top:198px;
    width:20px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u39_container {
    position:absolute;
    left:193px;
    top:229px;
    width:20px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u41_container {
    position:absolute;
    left:220px;
    top:229px;
    width:20px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u43_container {
    position:absolute;
    left:247px;
    top:229px;
    width:20px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u45_container {
    position:absolute;
    left:193px;
    top:260px;
    width:20px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Yesterday_s_Results_files/u7_normal.png');
}

.u47_container {
    position:absolute;
    left:220px;
    top:260px;
    width:20px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Yesterday_s_Results_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:260px;
    top:198px;
    width:68px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Yesterday_s_Results_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:316px;
    top:137px;
    width:141px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u52 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Yesterday_s_Results_files/u51_normal.png');
}

.u53_container {
    position:absolute;
    left:316px;
    top:168px;
    width:141px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u54 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Yesterday_s_Results_files/u51_normal.png');
}

.u55_container {
    position:absolute;
    left:316px;
    top:198px;
    width:141px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u56 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Yesterday_s_Results_files/u51_normal.png');
}

.u57_container {
    position:absolute;
    left:316px;
    top:229px;
    width:141px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u58 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Yesterday_s_Results_files/u51_normal.png');
}

.u59_container {
    position:absolute;
    left:316px;
    top:260px;
    width:141px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u60 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:110px;
    top:23px;
    width:231px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Yesterday_s_Results_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:16px;
    top:59px;
    width:206px;
    height:27px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u64 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Yesterday_s_Results_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:222px;
    top:59px;
    width:206px;
    height:27px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u66 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

