﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:55px;
    top:166px;
    width:266px;
    height:62px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u1 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:67px;
    top:204px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:68px;
    top:175px;
    width:20px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:95px;
    top:175px;
    width:20px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u7_container {
    position:absolute;
    left:122px;
    top:175px;
    width:20px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:149px;
    top:175px;
    width:20px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u11_container {
    position:absolute;
    left:176px;
    top:175px;
    width:20px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u13_container {
    position:absolute;
    left:55px;
    top:238px;
    width:266px;
    height:62px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u14 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:67px;
    top:276px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u16_container {
    position:absolute;
    left:68px;
    top:247px;
    width:20px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u18_container {
    position:absolute;
    left:95px;
    top:247px;
    width:20px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u20_container {
    position:absolute;
    left:122px;
    top:247px;
    width:20px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u22_container {
    position:absolute;
    left:55px;
    top:310px;
    width:266px;
    height:62px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u23 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:67px;
    top:348px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u25_container {
    position:absolute;
    left:68px;
    top:319px;
    width:20px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u27_container {
    position:absolute;
    left:95px;
    top:319px;
    width:20px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u29_container {
    position:absolute;
    left:122px;
    top:319px;
    width:20px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u31_container {
    position:absolute;
    left:149px;
    top:319px;
    width:20px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u33_container {
    position:absolute;
    left:55px;
    top:382px;
    width:266px;
    height:62px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u34 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:67px;
    top:420px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u36_container {
    position:absolute;
    left:68px;
    top:391px;
    width:20px;
    height:20px;
}

#u36_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u37 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u38_container {
    position:absolute;
    left:95px;
    top:391px;
    width:20px;
    height:20px;
}

#u38_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u39 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u40_container {
    position:absolute;
    left:122px;
    top:391px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u42_container {
    position:absolute;
    left:149px;
    top:391px;
    width:20px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u44_container {
    position:absolute;
    left:176px;
    top:391px;
    width:20px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u46_container {
    position:absolute;
    left:55px;
    top:454px;
    width:266px;
    height:62px;
}

#u46_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u47 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:67px;
    top:492px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u49_container {
    position:absolute;
    left:68px;
    top:463px;
    width:20px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u51_container {
    position:absolute;
    left:95px;
    top:463px;
    width:20px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u53_container {
    position:absolute;
    left:122px;
    top:463px;
    width:20px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u55_container {
    position:absolute;
    left:55px;
    top:526px;
    width:266px;
    height:62px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u56 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:67px;
    top:564px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u58_container {
    position:absolute;
    left:68px;
    top:535px;
    width:20px;
    height:20px;
}

#u58_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u59 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u60_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u60_container {
    position:absolute;
    left:95px;
    top:535px;
    width:20px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u62_container {
    position:absolute;
    left:122px;
    top:535px;
    width:20px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u64_container {
    position:absolute;
    left:149px;
    top:535px;
    width:20px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u66_container {
    position:absolute;
    left:149px;
    top:463px;
    width:20px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u68_container {
    position:absolute;
    left:176px;
    top:463px;
    width:20px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u70_container {
    position:absolute;
    left:176px;
    top:535px;
    width:20px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u72_container {
    position:absolute;
    left:55px;
    top:598px;
    width:266px;
    height:62px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u73 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:67px;
    top:636px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u75_container {
    position:absolute;
    left:68px;
    top:607px;
    width:20px;
    height:20px;
}

#u75_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u77_container {
    position:absolute;
    left:95px;
    top:607px;
    width:20px;
    height:20px;
}

#u77_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u79_container {
    position:absolute;
    left:122px;
    top:607px;
    width:20px;
    height:20px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u81_container {
    position:absolute;
    left:149px;
    top:607px;
    width:20px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u83_container {
    position:absolute;
    left:176px;
    top:607px;
    width:20px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u85_container {
    position:absolute;
    left:55px;
    top:670px;
    width:266px;
    height:62px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u86 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:67px;
    top:708px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u88_container {
    position:absolute;
    left:68px;
    top:679px;
    width:20px;
    height:20px;
}

#u88_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u90_container {
    position:absolute;
    left:95px;
    top:679px;
    width:20px;
    height:20px;
}

#u90_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u92_container {
    position:absolute;
    left:122px;
    top:679px;
    width:20px;
    height:20px;
}

#u92_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u93 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u94_container {
    position:absolute;
    left:55px;
    top:742px;
    width:266px;
    height:62px;
}

#u94_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u95 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:67px;
    top:780px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u97_container {
    position:absolute;
    left:68px;
    top:751px;
    width:20px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u99_container {
    position:absolute;
    left:95px;
    top:751px;
    width:20px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u101_container {
    position:absolute;
    left:122px;
    top:751px;
    width:20px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u103_container {
    position:absolute;
    left:149px;
    top:751px;
    width:20px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u105_container {
    position:absolute;
    left:55px;
    top:814px;
    width:266px;
    height:62px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u106 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:67px;
    top:852px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u108_container {
    position:absolute;
    left:68px;
    top:823px;
    width:20px;
    height:20px;
}

#u108_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u109 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u110_container {
    position:absolute;
    left:95px;
    top:823px;
    width:20px;
    height:20px;
}

#u110_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u111 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u112_container {
    position:absolute;
    left:122px;
    top:823px;
    width:20px;
    height:20px;
}

#u112_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u113 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u114_container {
    position:absolute;
    left:149px;
    top:823px;
    width:20px;
    height:20px;
}

#u114_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u115 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u116_container {
    position:absolute;
    left:176px;
    top:823px;
    width:20px;
    height:20px;
}

#u116_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u117 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u118_container {
    position:absolute;
    left:55px;
    top:886px;
    width:266px;
    height:62px;
}

#u118_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u119 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u120 {
    position:absolute;
    left:67px;
    top:924px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u121_container {
    position:absolute;
    left:68px;
    top:895px;
    width:20px;
    height:20px;
}

#u121_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u122 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u123_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u123_container {
    position:absolute;
    left:95px;
    top:895px;
    width:20px;
    height:20px;
}

#u123_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u124 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u125_container {
    position:absolute;
    left:122px;
    top:895px;
    width:20px;
    height:20px;
}

#u125_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u126 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u127_container {
    position:absolute;
    left:55px;
    top:958px;
    width:266px;
    height:62px;
}

#u127_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u128 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:67px;
    top:996px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u130_container {
    position:absolute;
    left:68px;
    top:967px;
    width:20px;
    height:20px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u131 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u132_container {
    position:absolute;
    left:95px;
    top:967px;
    width:20px;
    height:20px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u133 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u134_container {
    position:absolute;
    left:122px;
    top:967px;
    width:20px;
    height:20px;
}

#u134_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u135 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u136_container {
    position:absolute;
    left:149px;
    top:967px;
    width:20px;
    height:20px;
}

#u136_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u137 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u138_container {
    position:absolute;
    left:149px;
    top:895px;
    width:20px;
    height:20px;
}

#u138_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u139 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u140_container {
    position:absolute;
    left:176px;
    top:895px;
    width:20px;
    height:20px;
}

#u140_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u141 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u142_container {
    position:absolute;
    left:176px;
    top:967px;
    width:20px;
    height:20px;
}

#u142_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u143 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u144_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u144_container {
    position:absolute;
    left:55px;
    top:1030px;
    width:266px;
    height:62px;
}

#u144_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u145 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u146 {
    position:absolute;
    left:67px;
    top:1068px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u147_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u147_container {
    position:absolute;
    left:68px;
    top:1039px;
    width:20px;
    height:20px;
}

#u147_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u148 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u149_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u149_container {
    position:absolute;
    left:95px;
    top:1039px;
    width:20px;
    height:20px;
}

#u149_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u150 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u151_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u151_container {
    position:absolute;
    left:122px;
    top:1039px;
    width:20px;
    height:20px;
}

#u151_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u152 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u153_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u153_container {
    position:absolute;
    left:149px;
    top:1039px;
    width:20px;
    height:20px;
}

#u153_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u154 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u155_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u155_container {
    position:absolute;
    left:176px;
    top:1039px;
    width:20px;
    height:20px;
}

#u155_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u156 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u157_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u157_container {
    position:absolute;
    left:55px;
    top:1102px;
    width:266px;
    height:62px;
}

#u157_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u158 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u159 {
    position:absolute;
    left:67px;
    top:1140px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u160_container {
    position:absolute;
    left:68px;
    top:1111px;
    width:20px;
    height:20px;
}

#u160_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u161 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u162_container {
    position:absolute;
    left:95px;
    top:1111px;
    width:20px;
    height:20px;
}

#u162_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u163 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u164_container {
    position:absolute;
    left:122px;
    top:1111px;
    width:20px;
    height:20px;
}

#u164_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u165 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u166_normal {
    background-image: url('../Menu_comments_all_files/u0_normal.png');
}

.u166_container {
    position:absolute;
    left:55px;
    top:1174px;
    width:266px;
    height:62px;
}

#u166_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u167 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u168 {
    position:absolute;
    left:67px;
    top:1212px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u169_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u169_container {
    position:absolute;
    left:68px;
    top:1183px;
    width:20px;
    height:20px;
}

#u169_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u170 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u171_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u171_container {
    position:absolute;
    left:95px;
    top:1183px;
    width:20px;
    height:20px;
}

#u171_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u172 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u173_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u173_container {
    position:absolute;
    left:122px;
    top:1183px;
    width:20px;
    height:20px;
}

#u173_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u174 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u175_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u175_container {
    position:absolute;
    left:149px;
    top:1183px;
    width:20px;
    height:20px;
}

#u175_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u176 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u177_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u177_container {
    position:absolute;
    left:149px;
    top:1111px;
    width:20px;
    height:20px;
}

#u177_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u178 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u179_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u179_container {
    position:absolute;
    left:176px;
    top:1111px;
    width:20px;
    height:20px;
}

#u179_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u180 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u181_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u181_container {
    position:absolute;
    left:176px;
    top:1183px;
    width:20px;
    height:20px;
}

#u181_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u182 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u183_line {
    background-image: url('../Menu_comments_all_files/u183_line.png');
}

.u183_line {
    position:absolute;
    left:0px;
    top:3px;
    width:419px;
    height:5px;
}

.u183 {
    position:absolute;
    left:16px;
    top:115px;
    width:419px;
    height:10px;
    
}

.u184 {
    position:absolute;
    left:55px;
    top:1263px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u185 {
    position:absolute;
    left:55px;
    top:1294px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u186 {
    position:absolute;
    left:55px;
    top:1325px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u187 {
    position:absolute;
    left:55px;
    top:1356px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u188_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u188_container {
    position:absolute;
    left:193px;
    top:1261px;
    width:20px;
    height:20px;
}

#u188_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u189 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u190_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u190_container {
    position:absolute;
    left:220px;
    top:1261px;
    width:20px;
    height:20px;
}

#u190_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u191 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u192_normal {
    background-image: url('../Menu_comments_all_files/u192_normal.png');
}

.u192_container {
    position:absolute;
    left:16px;
    top:1260px;
    width:27px;
    height:22px;
}

#u192_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u193 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u194_normal {
    background-image: url('../Menu_comments_all_files/u192_normal.png');
}

.u194_container {
    position:absolute;
    left:16px;
    top:1291px;
    width:27px;
    height:22px;
}

#u194_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u195 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u196_normal {
    background-image: url('../Menu_comments_all_files/u192_normal.png');
}

.u196_container {
    position:absolute;
    left:16px;
    top:1322px;
    width:27px;
    height:22px;
}

#u196_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u197 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u198_normal {
    background-image: url('../Menu_comments_all_files/u192_normal.png');
}

.u198_container {
    position:absolute;
    left:16px;
    top:1353px;
    width:27px;
    height:22px;
}

#u198_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u199 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u200_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u200_container {
    position:absolute;
    left:193px;
    top:1292px;
    width:20px;
    height:20px;
}

#u200_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u201 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u202_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u202_container {
    position:absolute;
    left:220px;
    top:1292px;
    width:20px;
    height:20px;
}

#u202_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u203 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u204_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u204_container {
    position:absolute;
    left:247px;
    top:1292px;
    width:20px;
    height:20px;
}

#u204_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u205 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u206_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u206_container {
    position:absolute;
    left:274px;
    top:1292px;
    width:20px;
    height:20px;
}

#u206_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u207 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u208_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u208_container {
    position:absolute;
    left:193px;
    top:1323px;
    width:20px;
    height:20px;
}

#u208_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u209 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u210_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u210_container {
    position:absolute;
    left:220px;
    top:1323px;
    width:20px;
    height:20px;
}

#u210_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u211 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u212_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u212_container {
    position:absolute;
    left:247px;
    top:1323px;
    width:20px;
    height:20px;
}

#u212_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u213 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u214_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u214_container {
    position:absolute;
    left:193px;
    top:1354px;
    width:20px;
    height:20px;
}

#u214_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u215 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u216_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u216_container {
    position:absolute;
    left:220px;
    top:1354px;
    width:20px;
    height:20px;
}

#u216_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u217 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u218_normal {
    background-image: url('../Menu_comments_all_files/u218_normal.png');
}

.u218_container {
    position:absolute;
    left:260px;
    top:1292px;
    width:68px;
    height:20px;
}

#u218_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:26px;
}

.u219 {
    position:absolute;
    left:2px;
    top:2px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u220_normal {
    background-image: url('../Menu_comments_all_files/u220_normal.png');
}

.u220_container {
    position:absolute;
    left:316px;
    top:1262px;
    width:141px;
    height:20px;
}

#u220_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u221 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u222_normal {
    background-image: url('../Menu_comments_all_files/u220_normal.png');
}

.u222_container {
    position:absolute;
    left:316px;
    top:1292px;
    width:141px;
    height:20px;
}

#u222_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u223 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u224_normal {
    background-image: url('../Menu_comments_all_files/u220_normal.png');
}

.u224_container {
    position:absolute;
    left:316px;
    top:1323px;
    width:141px;
    height:20px;
}

#u224_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u225 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u226_normal {
    background-image: url('../Menu_comments_all_files/u220_normal.png');
}

.u226_container {
    position:absolute;
    left:316px;
    top:1354px;
    width:141px;
    height:20px;
}

#u226_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u227 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u228 {
    position:absolute;
    left:55px;
    top:138px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u229_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u229_container {
    position:absolute;
    left:193px;
    top:136px;
    width:20px;
    height:20px;
}

#u229_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u230 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u231_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u231_container {
    position:absolute;
    left:220px;
    top:136px;
    width:20px;
    height:20px;
}

#u231_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u232 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u233_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u233_container {
    position:absolute;
    left:247px;
    top:136px;
    width:20px;
    height:20px;
}

#u233_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u234 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u235_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u235_container {
    position:absolute;
    left:274px;
    top:136px;
    width:20px;
    height:20px;
}

#u235_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u236 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u237_normal {
    background-image: url('../Menu_comments_all_files/u3_normal.png');
}

.u237_container {
    position:absolute;
    left:301px;
    top:136px;
    width:20px;
    height:20px;
}

#u237_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u238 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u239_normal {
    background-image: url('../Menu_comments_all_files/u192_normal.png');
}

.u239_container {
    position:absolute;
    left:16px;
    top:135px;
    width:27px;
    height:22px;
}

#u239_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u240 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u241_normal {
    background-image: url('../Menu_comments_all_files/u220_normal.png');
}

.u241_container {
    position:absolute;
    left:316px;
    top:137px;
    width:141px;
    height:20px;
}

#u241_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u242 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u243 {
    position:absolute;
    left:110px;
    top:23px;
    width:231px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u245_normal {
    background-image: url('../Menu_comments_all_files/u245_normal.png');
}

.u245_container {
    position:absolute;
    left:16px;
    top:59px;
    width:206px;
    height:27px;
}

#u245_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u246 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u247_normal {
    background-image: url('../Menu_comments_all_files/u247_normal.png');
}

.u247_container {
    position:absolute;
    left:222px;
    top:59px;
    width:206px;
    height:27px;
}

#u247_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u248 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u250 {
    position:absolute;
    left:17px;
    top:100px;
    width:200px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

