﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0 {
    position:absolute;
    left:17px;
    top:100px;
    width:266px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:16px;
    top:0px;
    width:157px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:16px;
    top:0px;
    width:157px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:16px;
    top:0px;
    width:157px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:16px;
    top:0px;
    width:157px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:16px;
    top:0px;
    width:157px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:16px;
    top:0px;
    width:157px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:110px;
    top:23px;
    width:231px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Home_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:16px;
    top:59px;
    width:206px;
    height:27px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u16 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Home_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:222px;
    top:59px;
    width:206px;
    height:27px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u18 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_line {
    background-image: url('../Home_files/u20_line.png');
}

.u20_line {
    position:absolute;
    left:0px;
    top:3px;
    width:419px;
    height:5px;
}

.u20 {
    position:absolute;
    left:16px;
    top:115px;
    width:419px;
    height:10px;
    
}

