<div ng-controller="TodayCtrl">
	<div class="loading" ng-if="isLoading">LOADING...</div>
	<h3>What did you eat today?</h3>
	<div class="list-group-item" ng-if="!isLoading" ng-repeat="food in menu" ng-click="reviewThis(food.id)">
		<h3>{{food.name}}</h3>
		<p>{{food.description}}</p>
	</div>

	<div ng-if="!isLoading && !numItems"><h4>{{errorText}}</h4></div>
</div>