﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u1 {
    position:absolute;
    left:16px;
    top:0px;
    width:157px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../Item_selected_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:240px;
    top:129px;
    width:20px;
    height:20px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u3 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4_normal {
    background-image: url('../Item_selected_files/u2_normal.png');
}

.u4_container {
    position:absolute;
    left:267px;
    top:129px;
    width:20px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Item_selected_files/u2_normal.png');
}

.u6_container {
    position:absolute;
    left:294px;
    top:129px;
    width:20px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Item_selected_files/u2_normal.png');
}

.u8_container {
    position:absolute;
    left:321px;
    top:129px;
    width:20px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Item_selected_files/u2_normal.png');
}

.u10_container {
    position:absolute;
    left:348px;
    top:129px;
    width:20px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_image_sketch {
    background-image: url('../Item_selected_files/u12_image_sketch.png');
    position:absolute;
    left:46px;
    top:230px;
    width:325px;
    height:31px;
}

.u12 {
    position:absolute;
    left:49px;
    top:233px;
    width:319px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13_image_sketch {
    background-image: url('../Item_selected_files/u13_image_sketch.png');
    position:absolute;
    left:46px;
    top:156px;
    width:325px;
    height:72px;
}

.u13 {
    position:absolute;
    left:49px;
    top:159px;
    width:319px;
    height:66px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u14_normal {
    background-image: url('../Item_selected_files/u14_normal.png');
}

.u14_container {
    position:absolute;
    left:268px;
    top:268px;
    width:100px;
    height:25px;
}

#u14_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:31px;
}

.u15 {
    position:absolute;
    left:2px;
    top:5px;
    width:96px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_line {
    background-image: url('../Item_selected_files/u16_line.png');
}

.u16_line {
    position:absolute;
    left:0px;
    top:3px;
    width:419px;
    height:5px;
}

.u16 {
    position:absolute;
    left:16px;
    top:115px;
    width:419px;
    height:10px;
    
}

.u17 {
    position:absolute;
    left:110px;
    top:23px;
    width:231px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Item_selected_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:16px;
    top:59px;
    width:206px;
    height:27px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u20 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Item_selected_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:222px;
    top:59px;
    width:206px;
    height:27px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u22 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:17px;
    top:100px;
    width:266px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

