@import "normalize.css";

// Styles go here
.content {
  padding: 0 25px;
}

.rating{
  color: #a9a9a9;
  margin: 0;
  padding: 0;
  font-size: 24px;
}

ul.rating {
  display: inline-block;
}

.rating li {
  list-style-type: none;
  display: inline-block;
  padding: 1px;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.rating .filled {
  color: #21568b;
}

.rating-result {
  position: relative;
  width: 200px;
  height: 40px;

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    background-image: url('/img/star.svg');
    background-size: 40px;
    width: 100%;
    height: 40px;
  }

  .rating-progress {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
    height: 40px;
    background-color: goldenrod;
    height: 40px;
  }
}