﻿body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_normal {
    background-image: url('../Menu_comments_more_files/u0_normal.png');
}

.u0_container {
    position:absolute;
    left:55px;
    top:166px;
    width:266px;
    height:62px;
}

#u0_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u1 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:67px;
    top:204px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:68px;
    top:175px;
    width:20px;
    height:20px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u4 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u5_container {
    position:absolute;
    left:95px;
    top:175px;
    width:20px;
    height:20px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u6 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u7_container {
    position:absolute;
    left:122px;
    top:175px;
    width:20px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u9_container {
    position:absolute;
    left:149px;
    top:175px;
    width:20px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u11_container {
    position:absolute;
    left:176px;
    top:175px;
    width:20px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Menu_comments_more_files/u0_normal.png');
}

.u13_container {
    position:absolute;
    left:55px;
    top:238px;
    width:266px;
    height:62px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u14 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:67px;
    top:276px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u16_container {
    position:absolute;
    left:68px;
    top:247px;
    width:20px;
    height:20px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u17 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u18_container {
    position:absolute;
    left:95px;
    top:247px;
    width:20px;
    height:20px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u19 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u20_container {
    position:absolute;
    left:122px;
    top:247px;
    width:20px;
    height:20px;
}

#u20_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u21 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u22_normal {
    background-image: url('../Menu_comments_more_files/u0_normal.png');
}

.u22_container {
    position:absolute;
    left:55px;
    top:310px;
    width:266px;
    height:62px;
}

#u22_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u23 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:67px;
    top:348px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u25_container {
    position:absolute;
    left:68px;
    top:319px;
    width:20px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u27_container {
    position:absolute;
    left:95px;
    top:319px;
    width:20px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u29_container {
    position:absolute;
    left:122px;
    top:319px;
    width:20px;
    height:20px;
}

#u29_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u31_container {
    position:absolute;
    left:149px;
    top:319px;
    width:20px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Menu_comments_more_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:55px;
    top:607px;
    width:116px;
    height:25px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u34 {
    position:absolute;
    left:2px;
    top:5px;
    width:112px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Menu_comments_more_files/u33_normal.png');
}

.u35_container {
    position:absolute;
    left:205px;
    top:607px;
    width:116px;
    height:25px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:122px;
    height:31px;
}

.u36 {
    position:absolute;
    left:2px;
    top:5px;
    width:112px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Menu_comments_more_files/u0_normal.png');
}

.u37_container {
    position:absolute;
    left:55px;
    top:382px;
    width:266px;
    height:62px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u38 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:67px;
    top:420px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u40_container {
    position:absolute;
    left:68px;
    top:391px;
    width:20px;
    height:20px;
}

#u40_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u41 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u42_container {
    position:absolute;
    left:95px;
    top:391px;
    width:20px;
    height:20px;
}

#u42_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u43 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u44_container {
    position:absolute;
    left:122px;
    top:391px;
    width:20px;
    height:20px;
}

#u44_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u45 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u46_container {
    position:absolute;
    left:149px;
    top:391px;
    width:20px;
    height:20px;
}

#u46_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u47 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u48_container {
    position:absolute;
    left:176px;
    top:391px;
    width:20px;
    height:20px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u49 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50_normal {
    background-image: url('../Menu_comments_more_files/u0_normal.png');
}

.u50_container {
    position:absolute;
    left:55px;
    top:454px;
    width:266px;
    height:62px;
}

#u50_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u51 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:67px;
    top:492px;
    width:239px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u53_container {
    position:absolute;
    left:68px;
    top:463px;
    width:20px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u55_container {
    position:absolute;
    left:95px;
    top:463px;
    width:20px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u57_container {
    position:absolute;
    left:122px;
    top:463px;
    width:20px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Menu_comments_more_files/u0_normal.png');
}

.u59_container {
    position:absolute;
    left:55px;
    top:526px;
    width:266px;
    height:62px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:272px;
    height:68px;
}

.u60 {
    position:absolute;
    left:2px;
    top:23px;
    width:262px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61 {
    position:absolute;
    left:67px;
    top:564px;
    width:239px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u62_container {
    position:absolute;
    left:68px;
    top:535px;
    width:20px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u64_container {
    position:absolute;
    left:95px;
    top:535px;
    width:20px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u66_container {
    position:absolute;
    left:122px;
    top:535px;
    width:20px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u68_container {
    position:absolute;
    left:149px;
    top:535px;
    width:20px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u70_container {
    position:absolute;
    left:149px;
    top:463px;
    width:20px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u72_container {
    position:absolute;
    left:176px;
    top:463px;
    width:20px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u74_container {
    position:absolute;
    left:176px;
    top:535px;
    width:20px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_line {
    background-image: url('../Menu_comments_more_files/u76_line.png');
}

.u76_line {
    position:absolute;
    left:0px;
    top:3px;
    width:419px;
    height:5px;
}

.u76 {
    position:absolute;
    left:16px;
    top:115px;
    width:419px;
    height:10px;
    
}

.u77 {
    position:absolute;
    left:55px;
    top:659px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:55px;
    top:690px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:55px;
    top:721px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:55px;
    top:752px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u81_container {
    position:absolute;
    left:193px;
    top:657px;
    width:20px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u83_container {
    position:absolute;
    left:220px;
    top:657px;
    width:20px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../Menu_comments_more_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:16px;
    top:656px;
    width:27px;
    height:22px;
}

#u85_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u86 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../Menu_comments_more_files/u85_normal.png');
}

.u87_container {
    position:absolute;
    left:16px;
    top:687px;
    width:27px;
    height:22px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u88 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../Menu_comments_more_files/u85_normal.png');
}

.u89_container {
    position:absolute;
    left:16px;
    top:718px;
    width:27px;
    height:22px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u90 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91_normal {
    background-image: url('../Menu_comments_more_files/u85_normal.png');
}

.u91_container {
    position:absolute;
    left:16px;
    top:749px;
    width:27px;
    height:22px;
}

#u91_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u92 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u93_container {
    position:absolute;
    left:193px;
    top:688px;
    width:20px;
    height:20px;
}

#u93_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u94 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u95_container {
    position:absolute;
    left:220px;
    top:688px;
    width:20px;
    height:20px;
}

#u95_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u96 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u97_container {
    position:absolute;
    left:247px;
    top:688px;
    width:20px;
    height:20px;
}

#u97_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u98 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u99_container {
    position:absolute;
    left:274px;
    top:688px;
    width:20px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u101_container {
    position:absolute;
    left:193px;
    top:719px;
    width:20px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u103_container {
    position:absolute;
    left:220px;
    top:719px;
    width:20px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u105_container {
    position:absolute;
    left:247px;
    top:719px;
    width:20px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u107_container {
    position:absolute;
    left:193px;
    top:750px;
    width:20px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u109_container {
    position:absolute;
    left:220px;
    top:750px;
    width:20px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../Menu_comments_more_files/u111_normal.png');
}

.u111_container {
    position:absolute;
    left:260px;
    top:688px;
    width:68px;
    height:20px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:74px;
    height:26px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:64px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../Menu_comments_more_files/u113_normal.png');
}

.u113_container {
    position:absolute;
    left:316px;
    top:658px;
    width:141px;
    height:20px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u114 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115_normal {
    background-image: url('../Menu_comments_more_files/u113_normal.png');
}

.u115_container {
    position:absolute;
    left:316px;
    top:688px;
    width:141px;
    height:20px;
}

#u115_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u116 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117_normal {
    background-image: url('../Menu_comments_more_files/u113_normal.png');
}

.u117_container {
    position:absolute;
    left:316px;
    top:719px;
    width:141px;
    height:20px;
}

#u117_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u118 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u119_normal {
    background-image: url('../Menu_comments_more_files/u113_normal.png');
}

.u119_container {
    position:absolute;
    left:316px;
    top:750px;
    width:141px;
    height:20px;
}

#u119_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u120 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u121 {
    position:absolute;
    left:55px;
    top:138px;
    width:132px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u122_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u122_container {
    position:absolute;
    left:193px;
    top:136px;
    width:20px;
    height:20px;
}

#u122_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u123 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u124_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u124_container {
    position:absolute;
    left:220px;
    top:136px;
    width:20px;
    height:20px;
}

#u124_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u125 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u126_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u126_container {
    position:absolute;
    left:247px;
    top:136px;
    width:20px;
    height:20px;
}

#u126_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u127 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u128_container {
    position:absolute;
    left:274px;
    top:136px;
    width:20px;
    height:20px;
}

#u128_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u129 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u130_normal {
    background-image: url('../Menu_comments_more_files/u3_normal.png');
}

.u130_container {
    position:absolute;
    left:301px;
    top:136px;
    width:20px;
    height:20px;
}

#u130_img {
    position:absolute;
    left:0px;
    top:0px;
    width:20px;
    height:20px;
}

.u131 {
    position:absolute;
    left:2px;
    top:2px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u132_normal {
    background-image: url('../Menu_comments_more_files/u85_normal.png');
}

.u132_container {
    position:absolute;
    left:16px;
    top:135px;
    width:27px;
    height:22px;
}

#u132_img {
    position:absolute;
    left:0px;
    top:0px;
    width:27px;
    height:22px;
}

.u133 {
    position:absolute;
    left:2px;
    top:3px;
    width:23px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134_normal {
    background-image: url('../Menu_comments_more_files/u113_normal.png');
}

.u134_container {
    position:absolute;
    left:316px;
    top:137px;
    width:141px;
    height:20px;
}

#u134_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u135 {
    position:absolute;
    left:15px;
    top:2px;
    width:124px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u136 {
    position:absolute;
    left:110px;
    top:23px;
    width:231px;
    height:26px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138_normal {
    background-image: url('../Menu_comments_more_files/u138_normal.png');
}

.u138_container {
    position:absolute;
    left:16px;
    top:59px;
    width:206px;
    height:27px;
}

#u138_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u139 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140_normal {
    background-image: url('../Menu_comments_more_files/u140_normal.png');
}

.u140_container {
    position:absolute;
    left:222px;
    top:59px;
    width:206px;
    height:27px;
}

#u140_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:212px;
    height:33px;
}

.u141 {
    position:absolute;
    left:2px;
    top:6px;
    width:202px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u143 {
    position:absolute;
    left:17px;
    top:100px;
    width:200px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

