<h2>How was it?</h2>

<div ng-controller="ReviewCtrl">
	<div class="item" ng-if="foodItem.id">
		<h3>{{foodItem.name}}</h3>
		<p>{{foodItem.description}}</p>

		<form class="form-horizontal" ng-submit="addReview()">
			<textarea placeholder="Your Review" ng-model="review.comment"></textarea>

			 <div ng-init="review.rating = star.rating + 1"></div>

			<div class="star-rating" star-rating rating-value="review.rating" data-max="5" on-rating-selected="rateFunction(review.rating)"></div>

			<input type="submit" value="Submit"/>
		</form>
	</div>
	<div class="error" ng-if="!foodItem.id">No food found</div>
</div>