<h2>Yesterday's Results</h2>

<ul ng-controller="YesterdayCtrl">
	<li class="list-group-item" ng-repeat="ratedFood in ratedFoods">
		<p>Food: {{ratedFood.name}}</p>
		<p>Percentage of total: {{ratedFood.percentageOfTotal | percent:2}}</p>
		<p>Number of Reviews: {{ratedFood.ratingCount}}</p>
		<p>Avg Score: {{ratedFood.avgRating}}</p>
		<div class="rating-result">
			<div class="rating-progress" style="width:{{ratedFood.scorePercentage | percent:2}}"></div>
		</div>
		<p>Comments:</p>
		<ul>
			<li ng-repeat="comment in ratedFood.comments">{{comment}}</li>
		</ul>
	</li>
</ul>